<!DOCTYPE html>
<html>
    <title>
        About
    </title>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/images/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/images/tree.jpg">
        </div>
         {{>footer}}
    </body>
</html>